{
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1,
    "indent": [2, 2, {"SwitchCase": 1}],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "no-multiple-empty-lines": [2, {"max": 1}],
  },
  "globals": {
    "jQuery": true
  },
}