[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Matthew Ell
	email = matt.ell@alley.co
	username = ellm
[core]
	excludesfile = /Users/ellm/.gitignore_global
	autocrlf = input
	editor = mvim
[log]
	date = relative
[rerere]
	enabled = true
[pull]
	rebase = false
[push]
	default = current
[init]
	templatedir = ~/.git-templates
