"*":
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "styleguide"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
  editor:
    fontFamily: "Monaco"
    invisibles: {}
    lineHeight: 1.75
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "3c508c91-fab2-8cc4-971c-afed90faf63d"
  gist:
    closeOnSave: true
  linter:
    showErrorPanel: false
  "linter-eslint":
    disableWhenNoEslintConfig: false
    eslintrcPath: "/Users/matt/.eslintrc"
  "linter-phpcs":
    codeStandardOrConfigFile: "WordPress"
    executablePath: "/Users/matt/wpcs/vendor/bin/phpcs"
  "one-dark-ui":
    layoutMode: "Compact"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#0433ff"
    style:
      fontFamily: "monaco"
      fontSize: "13"
  "project-manager":
    alwaysOpenInSameWindow: true
    sortBy: "last modified"
  "terminal-plus":
    core: {}
    style:
      theme: "dracula"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
