[
  {
    title: "ES6.io"
    paths: [
      "/Users/matt/es6.io"
    ]
  }
  {
    title: "A16Z Events"
    paths: [
      "/Users/matt/broadway/themes/vip/a16z-events"
    ]
  }
  {
    title: "Heatstreet"
    paths: [
      "/Users/matt/broadway/www/heatstreet/wp-content/themes/heatstreet"
    ]
  }
  {
    title: "Brookings"
    paths: [
      "/Users/matt/broadway/www/brookings/wp-content/themes/brookings"
    ]
  }
  {
    title: "A16Z 2015"
    paths: [
      "/Users/matt/broadway/themes/vip/a16z-2015"
    ]
  }
  {
    title: "ellm.github.Io "
    paths: [
      "/Users/matt/ellm.github.io_v2"
    ]
  }
]
